.btn {
	border: none;
	font-family: inherit;
	background-color: $color-primary-dark;
	color: $color-white;
	padding: 1rem 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s;

	&:hover,
	&:focus {
		outline: none;
		background-color: $color-primary-light;
	}

	&--round {
		border-radius: 10rem;
	}

	&--rect {
		border-radius: 0.5rem;
	}

	&--move {
		&:hover,
		&:focus {
			transform: translateY(-2px);
		}
	}
}
