.nav {
	border-bottom: 1px solid $color-grey-light-2;
	min-height: 7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__list {
		margin-left: 5rem;
		list-style: none;
	}

	&__link {
		&:link,
		&:visited {
			text-decoration: none;
			font-size: 3rem;
			color: $color-primary-dark;
		}

		&:focus {
			outline: none;
		}
	}

	&__btns {
		margin-right: 5rem;
	}

	&__btn {
		border: none;
		font-family: inherit;
		background-color: $color-primary-dark;
		color: $color-white;
		margin: 0 3rem;
		padding: 1rem 2rem;
		border-radius: 10rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
		transition: all 0.3s;

		&:hover,
		&:focus {
			outline: none;
			background-color: $color-primary-light;
			transform: translateY(-2px);
		}
	}
}
