// Colors

$color-primary-dark: #e57373;
$color-primary-light: #eb9393;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #e2e1e1;
$color-grey-light-3: #ccc;

$color-grey-dark-1: #333;

$color-white: #fff;
$color-black: #000;

$color-danger: #ff0000;

//	Grid

$grid-width: 120rem;

// Media queries

$bp-large: 56.25em; // 900px / 16
$bp-medium: 37.5em; // 600px / 16
$bp-small: 28.12em; //450px / 16

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; //10px
	box-sizing: border-box;

	@media only screen and (max-width: $bp-medium) {
		font-size: 50%; //8px
	}

	@media only screen and (max-width: $bp-small) {
		font-size: 43.75%; //7px
	}
}

body {
	background-color: $color-grey-light-1;
	color: $color-grey-dark-1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.5;
}

.app {
	height: 100vh;
}
