.row {
	max-width: $grid-width;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

	.col {
		margin: 2rem auto;
		text-align: center;
		width: calc((#{$grid-width} / 3) - 8rem);
		max-width: 90%;
	}
}
