.nav {
	border-bottom: 1px solid $color-grey-light-2;
	min-height: 7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media only screen and (max-width: $bp-small) {
		flex-direction: column;
	}

	&__list {
		margin-left: 5rem;
		list-style: none;

		@media only screen and (max-width: $bp-small) {
			align-self: flex-start;
			margin: 1.5rem 2rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			text-decoration: none;
			font-size: 3rem;
			color: $color-primary-dark;

			@media only screen and (max-width: $bp-small) {
				font-size: 2.5rem;
			}
		}

		&:focus {
			outline: none;
		}
	}

	&__btns {
		margin-right: 5rem;

		@media only screen and (max-width: $bp-small) {
			margin-right: 0;
			margin-bottom: 2rem;
		}
	}

	&__btn {
		margin-left: 3rem;

		@media only screen and (max-width: $bp-large) {
			margin-left: 1.5rem;
		}

		@media only screen and (max-width: $bp-medium) {
			margin-left: 0.7rem;
		}

		@media only screen and (max-width: $bp-medium) {
			margin: auto 2rem;
		}
	}
}
